// ================================================================================================
//  File Name: ext-component-media-player.scss
//  Description: Media Player SCSS.
//  ----------------------------------------------------------------------------------------------
//

// ================================================================================================

// to remove outline on focus
.audio-player {
  &:focus {
    outline: 0;
  }
}
.plyr__controls {
  justify-content: flex-start;
}
.plyr__progress {
  flex-grow: 1;
}
